@use '../../style/global_variables' as gv;
@use 'sass:map';
@use 'sass:color';

.bar-chart {
    background-color: map.get(gv.$colors, "light-grey");
    border-radius: 5px;

    .chart-title {
        position: absolute;
        font-size: 15px;
        font-weight: bold;
        margin: 30px 0 0 20px;
    }

    .custom-barChart-tooltip {
        background-color: map.get(gv.$colors, "main");
        color: white;
        font-size: 10px;
        padding: 10px;
    }

    .recharts-legend-item-text {
        color: map.get(gv.$colors, "grey");
    }
}