@use '../../style/global_variables' as gv;
@use 'sass:map';
@use 'sass:color';

.pie-chart {
    background-color: map.get(gv.$colors, 'light-grey');
    border-radius: 5px;

    .chart-title {
        position: absolute;
        font-size: 15px;
        font-weight: bold;
        margin: 20px 0 0 15px;
    }
}