@use '../../style/global_variables' as gv;
@use 'sass:map';
@use 'sass:color';

.area-chart {
    background-color: map.get(gv.$colors, "main");
    border-radius: 5px;

    .chart-title {
        position: absolute;
        font-size: 15px;
        font-weight: bold;
        margin: 30px 0 0 30px;
        color: #FBFBFBAA;
    }

    .custom-areaChart-tooltip {
        position: absolute;
        left: 0;

        .tooltip-label-div {
            position: absolute;
            background-color: map.get(gv.$colors, 'light-grey');
            color: black;
            font-size: 12px;
            padding: 3px 10px 3px 10px;
            min-width: 39px;
            min-height: 25px;
        }

        .darker-tooltiip-zone {
            fill: black;
            opacity: 0.2;
        }
    }

}